



.imagem-carrossel {

    height: 400px;
    
    
    





}


#carouselExampleControls {

    background-color: aliceblue;
    position: absolute;
    bottom: 10px;
    left: 50px;
    display: flex;
    position:relative;
    padding: 80px;
    border-radius: 5px;
    

    }


    p{


        display: flex;
        justify-content: center;
        align-items: center;
        right: 100%;
        bottom: 100%;


    }


    .popo {


        padding: 50px;






    }


    h3 {
        display: flex;
        justify-content: center;





    }








        






    